/* ----> YOUR CODE HERE zear <---- */

body{
    font-family:Verdana;
}

/* On va mettre en forme notre tableau de dépenses*/

td{
    border: 1px solid black;
    padding: 10px 15px;
}
table{
    border-collapse:collapse;
}

.ligne1{
    background-color: #BBB;
}

.ligne2 {
    background-color: #EEE;
}

CAPTION{
    font-size:25px;
    color:black;
    font-weight:bold;
    font-family: Nunito;
}

/*Consommation 2017*/
.Titre{
    background-color:green;
    background: rgba(204, 204, 204, 0.5);
    border:1 solid black;
    font-family:Nunito;
    font-weight:bold;
}

/* Chauffage électrique */
.Chauffage{
    position:relative;
    left:390px;
    top:68px;
}

#Faux{
    display:block;
    position:relative;
    left:225px;
    bottom: 22px;
    font-size:16px;
    background-color:#696969;
    width:44px;
}

#Vrai{
    display:block;
    position:relative;
    left:225px;
    bottom: 22px;
    font-size:16px;
    background-color:#3CB371;
    width:44px;
}

.TitreChauffage{
    font-size:24px;
    font-family:Nunito;
    font-weight:bold;
}


/* Dysfonctionnement*/

.Dysfonctionnement{
    position:relative;
    width:280px;
    left:760px;
    bottom:200px;
}



#MessageAlerte{
    display:block;
    background-color:#b9133a;
    color:black;
}